/*Estilo general de página-/barra de naveación*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
/*Estilo del header*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    border-bottom: var(--other-color) 10px solid;
    padding: 15px 50px;
    transition: all .50s ease;

    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

/*Colores de la barra de navegación*/
:root{
    --bg-color: #3b397d;
    --dark-bg-color: #211f5d;
    --second-color: #706eb4;
    --other-color: #24aa62; 
    --text-color: #ffffff;
    --main-color: #ddd23d;
    --no-color: #ffffff00;
}

/*Tamaños icono de usuario-/logo del ippc en la barra - Color del icono menu*/
.logoippc{
    width: 200px;
    display: flex;
}

#usericon{
    font-size: 25px;
    padding: 5px 0px 5px 5px;
    margin-right: 10px;
    align-self: start;
    vertical-align: middle;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/*Barra de navegación (Flex-/Hovers-/Estado Active)*/
.ippc a{
    display: flex;
    transition: all .50s ease;
    user-select: none;
}
.ippc a:hover{
    transform: translateX(5px);
}

.navbar{
    display: flex;
    user-select: none;
}
.navbar a{
    color: var(--text-color);
    font-size: 12px;
    font-weight: 500;
    padding: 10px 30px;
    margin: 0px 15px;
    transition: all .50s ease;
    background-color: var(--bg-color);
    border-radius: 30px;
}
.navbar a:hover{
    background-color: var(--second-color);
}
.navbar a.active{
    color: var(--bg-color);
    background-color: var(--text-color);
    font-weight: 600;
}

.main{
    display: flex;
    align-items: center;
    user-select: none;
}
.main a{
    margin-right: 25px;
    margin-left:  10px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    transition: all .50s ease;
}
.main a:hover{
    transform: translateX(-5px);
    background-color: var(--second-color);
}
.main a{
    color: var(--text-color);
    padding: 2px 15px;
    margin: 0px 15px;
    transition: all .50s ease;
    background-color: var(--bg-color);
    border-radius: 30px;
}

.derecha{
    display: flex;
    align-items: center;
}

.grup{
    display: flex;
    align-items: center;
}

.divisor{
    background-color: #706eb4;
    width: 2px;
    height: 35px;
    margin-right: 15px;
    margin-left: 10px;
    
}

#usericon{
    margin-left: -5px;
}

/*Parte Responsive de la Barra de Navegación*/
@media (max-width: 980px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 10px 15px;
        margin: 0px 15px;
    }
    .logoippc{
        margin-left: 15px;
    }
}

/*Parte Responsive - Menú 1*/
@media (max-width: 830px){
    #menu-icon{
        display: block;
        margin-right: 15px;
        transition: all .50s ease;
        border-radius: 10px;
    }
    #menu-icon:hover{
        background-color: #706eb4;
        border-radius: 10px;
        transform: translateX(-5px);
    }
    .navbar{
        position: absolute;
        top: 90%;
        right: -100%;
        width: 230px;
        height: 180px;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        box-shadow: -10px 10px 20px -10px #00000050;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 5px 25px;
        transition: all .50s ease;
        border-radius: 0px;
    }
    .navbar a:hover{
        color: var(--text-color);
        background-color: var(--no-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);
        background-color: var(--no-color);
        font-weight: 500;
    }
    .navbar.open{
        right: 5%;
    }
}

/*Parte Responsive - Menú 2 con Iniciar Sesión*/
@media (max-width: 530px){
    #menu-icon{
        display: block;
        margin-right: 15px;
        transition: all .50s ease;
        border-radius: 10px;
        font-size: 30px;
    }
    #menu-icon:hover{
        background-color: #706eb4;
        border-radius: 10px;
        transform: translateX(-5px);
    }
    .navbar{
        position: absolute;
        top: 175%;
        right: -100%;
        width: 230px;
        height: 180px;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        box-shadow: -10px 10px 20px -10px #00000050;
    }
    .main{
        position: absolute;
        top: 90%;
        right: -100%;
        width: 230px;
        height: 60px;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        box-shadow: -10px 10px 20px -10px #00000050;
    }
    .main a{
        display: block;
        margin: 5px 15px;
        padding: 5px 15px;
        transition: all .50s ease;
        border-radius: 0px;
    }
    .main a:hover{
        color: var(--text-color);
        background-color: var(--no-color);
        transform: translateY(5px);
    }
    .main a.active{
        color: var(--text-color);
        background-color: var(--no-color);
        font-weight: 500;
    }
    .main.open{
        right: 5%;
    }
    .divisor{
        width: 0px;
        height: 0px;
    }
}

/*Footer/Pie de página CSS*/

body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    min-height: 100hv;
    ;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
     /* Ajusta según necesidad */
    border-top: #24aa62 10px solid;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fot-social-icon{
    display: flex;
    padding: 5px 10px 0px 0px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.fot-icon-elem{
    list-style: none;
}
.fot-info{
    font-size: 12px;
    vertical-align: middle;
    padding: 0px 5px 10px 0px;
    text-align:center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: var(--text-color);
}

.fot-icon{
    color: var(--bg-color);
    background-color: white;
    font-size: 27px;
    display: inline-block;
    margin: 0 10px 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    
    border-radius: 50%;
    transition: 0.5s;
}

.fot-icon:hover{
    transform: translateY(-5px);
}

.fot-bottom{
    background-color: var(--dark-bg-color);
    width: 100%;
}
.fot-text{
    color: var(--text-color);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    transition: 0.5s;
}

@media (max-width: 530px){
    .fot-icon-elem{
        padding: 5px;
    }
    .fot-icon{
        font-size: 20px;
        width: 27px;
        height: 27px;
    }
    .fot-bottom{
        height: 40px;
    }
    .fot-text{
        font-size: 8px;
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.ejemplo{
    width: 500px;
    height: 2050px;
    margin: 15px;
    background-color: var(--second-color);
    text-align: center;
    justify-content: center;

}

.wrapper{
    min-height: 100vh;
    flex: 1;
}

/*By carlos ;P*/