@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-image: #ffffff;
}

/* header 1 ------------------------------------------------------------------------------------------------*/


.header1 {
    background-color: #3b397d;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 150px;
    padding: 5px 10%;
    position: relative;
}

.logoippc {
    position: absolute;
    left: 10%; 
}

.usuario {
    position: absolute;
    right: 10%; 
}

.titulo {
    font-size: 35px;  
    color: #ffffff;
    text-align: center;
    flex-grow: 1;  
}


.header1 .logoippc{
    order: 3;

}
.header1 .logoippc img{
    height: 90px;
    width: auto;
    transition: all 0.3s;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.nombre {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.header1 .usuario{
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

.header1 .usuario img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header1 .usuario img:hover{
    transform: scale(1.2);
}
 

/* menu desplegable */


.dropbtn {
    background-color: #f1f1f100;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/* header 2 --------------------------------------------------------------------------------------------------*/


.header2{
    background-color: #24aa62;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
}



 .header2 .set{
    cursor: pointer;
    order: 3;
    margin: 95px ;
}

.header2 nav{
    order: 1;
}

.header2 .nav-links{
    list-style: none;
}

.header2 .nav-links li{
    display: inline-block;
    padding: 0 7px;    
}

.header2 .nav-links li:hover{
    transform: scale(1.1);
}


.header2 .nav-links a{
    font-size: 700;
    font-weight: bold;
    border-color: #5dc68e;
    background-color: #5dc68e;
    color: #ffffff;
    text-decoration:none;    
    border-style:solid;
    border-radius: 25px;
    padding: 7px  20px
    
    
}

.header2 .nav-links li a:hover{
    color: #24aa62;
}

/* fin de los headersss------------------------------------------------------------------- */
