
body::before {
    background-image: url(/images/Home.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1; /* Mantiene la opacidad si deseas que la imagen sea un poco transparente */
    z-index: -1;
}

/* El resto del CSS sigue igual */


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
} */


.titulo2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100 ;
    font-style:normal;

} 



/* .contenedor {
    position: relative;
    width: 100%;
    height: 400px;
    background : url("img/IPPC_1.jpg") 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff9c; } */

/* navegador     */
/*Estilo general de página-/barra de naveación*/

/* Estilo del contenedor que centra el contenido */
.center-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); /* Reducido para hacer espacio para el footer */
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
}

/* Estilo del h1 */
.center-container h1 {
    font-size: 45px; /* Reducido para que se ajuste mejor */
    font-weight: 700;
    margin-bottom: 20px;
    color: #ffffff;
    transition: 0.2s;
}

/* Estilo del párrafo */
.center-container p {
    font-size: 17px; /* Reducido para que se ajuste mejor */
    line-height: 1.4;
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 480px;
    color: #ffffff;
    transition: 0.2s;
}

/* Botón */
.center-container .btn-asistencia {
    background-color: #3b397d;
    color: white;
    border: none;
    padding: 7px 30px; /* Reducido para ajustar el tamaño */
    font-size: 15px; /* Reducido */
    font-weight: 700;
    border: white 3px solid;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    transition: 0.2s;
}

.center-container .btn-asistencia:hover {
    background-color: #ffffff;
    color: #3b397d;
    transform:scale(1.1);
}

@media (max-width: 530px){
    .center-container h1{
        font-size: 35px; /* Reducido para que se ajuste mejor */
    }
    .center-container p{
        font-size: 17px;
        max-width: 420px;
    }
    .center-container .btn-asistencia{
        font-size: 12px;
        padding: 7px 30px;
    }
}

@media (max-width: 450px){
    .center-container h1{
        font-size: 30px; /* Reducido para que se ajuste mejor */
    }
    .center-container p{
        font-size: 13px;
        max-width: 330px;
    }
    .center-container .btn-asistencia{
        font-size: 12px;
        padding: 7px 30px;
    }
}